[collector]
ingress_addr = "127.0.0.1:19010"
ui_feed_addr = "127.0.0.1:19011"
health_addr = "127.0.0.1:19012"
can_enabled = false
can_hardware_name = "TC1012"
can_channel = 0
can_baud_kbps = 500
can_data_baud_kbps = 2000
pg_dsn = "host=127.0.0.1 port=5432 user=postgres password=postgres dbname=demo2"
pg_connect_max_retries = 20
pg_connect_retry_ms = 1000
db_filter_cutoff_hz = 4000.0
db_filter_enabled = false
db_filter_order = 10
db_filter_sample_rate_hz = 48000.0
sent_filter_enabled = true
sent_filter_window = 10
max_payload = 4096
bus_capacity = 10000
ui_feed_capacity = 10000
